.modalContent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--white-gray);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vw;
    box-sizing: border-box;
    color: black;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

.label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}

.cancelButton {
    font-size: 12px;
    color: var(--dark-warm-gray);
    margin-left: auto;
    background: transparent;
    border: none;
    cursor: pointer;
}

.modalBody {
    flex-grow: 1;
    overflow-y: auto;
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.genderLabels span {
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
}
.typeOptions {
    color: var(--dark-warm-gray);
    font-size: 12px;
}
.checkbox {
    background-color: var(--light-warm-gray) ;
    position: relative;
    border-radius: 6px;
    margin-bottom: 6px;
}

.sectionTitle {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-warm-gray);
}

.checkboxLabel {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    color: var(--black);
}

.showAllButton, .openAllButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    padding: 0;
    color: var(--light-cold-gray);
}

.section {
    margin-bottom: 10px;
}
.gridOptions {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 5px;
}

.priceInputGroup {
    display: flex;
    gap: 12px;
    align-items: center;
    padding-bottom: 20px;
    margin: auto;
    width: 100%;
    justify-content: space-between;
}

.priceInput {
    position: relative;
    flex: 1;
}

.priceInput input {
    width: 100%;
    padding: 10px 28px 10px 12px;
    height: 40px;
    background-color: var(--ultralight-gray);
    border: none;
    border-radius: 8px;
    font-size: 15px;
    box-sizing: border-box;
    text-align: center;
}

.priceInput::after {
    content: "₽";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 14px;
    pointer-events: none;
}


.applyButton {
    background: black;
    color: white;
    padding: 12px;
    font-size: 14px;
    width: 94%;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    margin: auto;
}

.applyButton:disabled {
    background-color: #aaa;
}

.section {
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 10px;

}
.optionButton {
    color: var(--black);
    padding: 8px 5px;
    border-radius: 6px;
    text-align: center;
    background: var(--ultralight-gray);
    font-size: 12px;
    border: 1px solid transparent;
    flex-shrink: 0;
}

.selected {
    border: 1px solid var(--black);
    background-color: var(--white);
}
.flexOptions > * {
    margin-right: 8px;
    margin-bottom: 8px;
}

.colorCircleWrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 8px;
    flex-shrink: 0;
    isolation: isolate; /* Добавляем изоляцию */

}
.colorTitle {
    font-size: 12px;
    color: var(--dark-warm-gray);
}

.colorCircle {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin: 12px 12px 12px 6px;
}

.colorCircle.selected {
    position: relative;
    border: 1px solid white;
    box-shadow: 0 0 0 0.5px white;
}

.colorCircle.selected::after {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border: 1px solid var(--black);
    border-radius: 50%;
}