.wrapper {
    position: fixed; /* или absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: spin 30s linear infinite;
}

.imageContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 80px;
    transform-origin: 0 0;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.centerText {
    position: relative;
    font-size: 30px;
    font-weight: 500;
    z-index: 2;
    color: var(--white);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}